<p>not-following-back works!</p>

<div class="forms">
  <div class="followers-form">
    <form [formGroup]="form" (ngSubmit)="makeRequest()">
      <mat-form-field appearance="fill">
        <mat-label>Followers</mat-label>
        <textarea matInput formControlName="followers"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Following</mat-label>
        <textarea matInput formControlName="following"></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent">Send</button>
    </form>
  </div>
  <div class="results">
    <ul *ngFor="let username of notFollowingBackUsernames">
      <li>{{ username }}</li>
    </ul>
  </div>
</div>
